@import './base.css';

:root {
  --color-primary: #295FA6;
  --color-secondary: #174873;
  --color-background: #F2F2F2;
  --color-text: #333333;
  --color-text-white: #FFFFFF;
  --color-highlight: #BF2424;
  --color-faded: #591212;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
